{% extends "admin/base.html" %}
{% load static%}
{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}
{%block extrastyle %}
<style>
    @media (prefers-color-scheme: dark) {
        :root {
          --primary-fg: #fff;
          --link-fg: #ffbf00;
          --link-hover-color: #97ff18;
          --breadcrumbs-link-fg: #000;
        }
      }
      
      a {
        color: var(--link-fg);
      }
      :root {
        --selected-row: #292700;
        --breadcrumbs-fg: #000;
        --primary: #585858;
        --secondary: #252525;}
      
</style>
{%endblock%}
{% block branding %}
<nav class="navbar navbar-light bg-white container">
    <a class="navbar-brand logo-top" href="#">
      <img src={% static "./img/Logo.png" %} width="65" height="65" class="d-inline-block align-top" alt="">
      Course it! ADMIN PANEL
    </a>
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}

{% block nav-global %}{% endblock %}